<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculate</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Real-time Calculation</h1>
  <form id="calcForm">
    <input type="number" id="input1" name="input1" placeholder="Input 1" />
    <input type="number" id="input2" name="input2" placeholder="Input 2" />
    <button type="submit">Submit</button> <!-- ปุ่มสำหรับส่งฟอร์ม -->
  </form>
  <h1 id="result"></h1>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/script.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      fetch('/get-inputs')
        .then(response => response.json())
        .then(data => {
          if (data.inputs) {
            document.getElementById('input1').value = data.inputs.input1 || '';
            document.getElementById('input2').value = data.inputs.input2 || '';
            // ส่งข้อมูลไปที่เซิร์ฟเวอร์เพื่อทำการคำนวณ
            const socket = io();
            socket.emit('calculate', { input1: data.inputs.input1, input2: data.inputs.input2 });
            socket.on('calculatedResult', (data) => {
              document.getElementById('result').textContent = data.result;
            });
          }
        });
    });

    document.getElementById('calcForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const input1 = document.getElementById('input1').value;
      const input2 = document.getElementById('input2').value;
      const inputs = { input1: input1, input2: input2 };

      fetch('/update-inputs', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ inputs: inputs }),
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Inputs updated successfully');
            // ส่งข้อมูลไปที่เซิร์ฟเวอร์เพื่อทำการคำนวณ
            const socket = io();
            socket.emit('calculate', { input1: input1, input2: input2 });
            socket.on('calculatedResult', (data) => {
              document.getElementById('result').textContent = data.result;
            });
          }
        });
    });
  </script>
</body>
</html>
